name: Build and publish NuGet package

on:
  push:
    tags:
      - 'v*.*.*'
  workflow_dispatch: # This line allows manual triggering

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
          ref: master

      - name: Extract version from tag
        run: echo "VERSION=${GITHUB_REF_NAME#v}" >> $GITHUB_ENV

      - name: Setup .NET Core
        uses: actions/setup-dotnet@v2
        with:
          dotnet-version: '8.0.x'

      - name: Restore dependencies
        run: dotnet restore Solution/LiteEval.sln

      - name: Build
        run: dotnet build Solution/LiteEval.sln --configuration Release --no-restore

      - name: Test
        run: dotnet test Solution/LiteEval.sln --no-restore --verbosity normal

      - name: Copy DLL and PDB to Unity package
        run: |
          cp Solution/bin/Release/netstandard2.1/*.dll UnityPackage/Runtime/
          cp Solution/bin/Release/netstandard2.1/*.pdb UnityPackage/Runtime/

      - name: Update Unity package version
        run: |
          jq --arg v "${{ env.VERSION }}" '.version = $v' UnityPackage/package.json > tmp.json && mv tmp.json UnityPackage/package.json

      - name: Commit files
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git add UnityPackage/package.json
          git add UnityPackage/Runtime/
          git diff --staged --quiet || git commit -m "Update Unity package binaries" || echo "No changes to commit"
          git push
          
      - name: Pack
        run: |
          dotnet pack Solution/LiteEval.csproj --configuration Release --no-build --output ./nupkgs -p:Version=${{ env.VERSION }}
          dotnet pack LiteEval.Serialization.Newtonsoft/LiteEval.Serialization.Newtonsoft.csproj --configuration Release --no-build --output ./nupkgs -p:Version=${{ env.VERSION }}
          dotnet pack LiteEval.Serialization.MessagePack/LiteEval.Serialization.MessagePack.csproj --configuration Release --no-build --output ./nupkgs -p:Version=${{ env.VERSION }}

      - name: Publish the package
        run: dotnet nuget push ./nupkgs/*.nupkg --api-key ${{ secrets.NUGET_API_KEY }} --source https://api.nuget.org/v3/index.json --skip-duplicate

